<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Edit Model</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1> Edit Model  {{model.name}}</h1>
        <form action="{{url_for('editModel', model_name=model.name)}}" method = 'post'>
        	<p>Name:</p>
        		<input type ='text' size='30' name='name' placeholder = '{{model.name}}' required pattern="\S+">
            </br>
                <input type='submit' value='Edit'>
                <a href = '{{url_for('showModels')}}'> Cancel </a>
        </form>
    </body>
</html>
