<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Wolfgang Marketplace</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class = 'pane'>
            <h1>Bike Catalog</h1>

            {% if 'username' not in login_session %}
            <a href="{{url_for('LogMeIn')}}"> Login </a>
            {% else %}
            <a href="{{url_for('gdisconnect')}}"> Logout </a>
            {% endif %}

            <a href="{{url_for('newModel')}}" > <h3> Create a new Bike Model </h3> </a>

            {% for m in models %}

            <a href = "{{url_for('showBikes', model_name=m.name)}}"> <h4><strong>{{m.name}}</strong></h4></a>

            <p><a href = "{{url_for('editModel', model_name=m.name)}}">Edit Model</a></p>

            <p> <a href = "{{url_for('deleteModel', model_name=m.name)}}">Delete Model</a> </p>

            {% endfor %}

        </div>
    </body>
</html>
