<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Wolfgang Marketplace</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </head>
    <body>
        <div class = 'grid-container'>
            {% include "navbar.html" %}

            <div class="home-container">

                <div id="logio">
                    {% if 'username' not in login_session %}
                    <a href="{{url_for('LogMeIn')}}"> Login </a>
                    {% else %}
                    <a href="{{url_for('gdisconnect')}}"> Logout </a>
                    {% endif %}
                </div>

                <div class="home-title">
                    <h1>All Bikes</h1>
                </div>

                <div class="add-listing-home">
                    <a href = "#"> <h1>	+ Add Bike</h1> </a>
                </div>

                {% for b in bikes %}

                <div  class="card" >
                    <a href = "#"> <h4><strong>{{b.name}}</strong></h4></a>
                    <p>{{b.price}}</p>
                </div>
                
                {% endfor %}

            </div>

        </div>
    </body>
</html>
