<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Listings</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </head>
    <body>
        <div class="grid-container">
            {% include "navbar.html" %}
            <div class="home-container">
                <div id="logio">
                    {% if 'username' not in login_session %}
                    <a href="{{url_for('LogMeIn')}}"> Login </a>
                    {% else %}
                    <a href="{{url_for('gdisconnect')}}"> Logout </a>
                    {% endif %}
                </div>

                <div class="home-title">
                    <h1>All {{model.name}} Bikes</h1>
                </div>

                <div class="add-listing-home">
                    <a href="{{url_for('newBike', model_name=model.name)}}"><h3> Create a new listing </h3></a>
                </div>
                {% for b in bikes %}
                <div class="card">

                    <a href = "{{url_for('thisBike', model_name=model.name, listing_name=b.name)}}"> <h4><strong>{{b.name}}</strong></h4></a>
                </div>
                {% endfor %}
                <!-- <a href = '{{url_for('showModels')}}'>Back </a> -->
        </div>
        </div>
    </body>
</html>
