<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Create New Listing</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>New Bike Listing</h1>

        <form action="#" method = 'post'>
        	<p>Name:</p>
        	<input type ='text' size='30' name='name' required pattern="\S+">

            <p>Description:</p>
            <input type ='text' size='50' name='desc'>

            <p>Price:</p>
            <input type ='number' min="1" step="any" name='price' placeholder="$">

        </br>
            <input type='submit' value='Create'>
            <a href = '{{url_for('showBikes', model_name=model_name)}}'> Cancel </a>
        </form>

    </body>
    </body>
</html>
