<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Listing Page</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div class = 'pane'>
                <h4><strong>{{bike.name}}</strong></h4>
                <p>{{bike.description}}</p>
                <p>{{bike.price}}</p>
                <p><a href = "{{url_for('editBike', model_name=model.name, listing_name=bike.name)}}">Edit Listing</a></p>
                <p> <a href = "{{url_for('deleteBike', model_name=model.name, listing_name=bike.name)}}">Delete Listing</a> </p>
        </div>
    </body>
</html>
